body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'game_of_thrones';
}

header {
    background: #2C302F;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    line-height: 1.5em;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background: #2C302F;
    color: white;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
}

#game {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

footer,
header,
#game {
    box-shadow: 0px 0px 9px 0px #777;
}

#secret-container {
    padding: 10px;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#stats-container {
    padding: 10px;
    height: 30%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#lives,
#wins {
    color: red;
    font-size: 25px;
}

#secret {
    font-size: 30px;
}

#wl {
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    background: #2C302F;
    transition: transform .3s;
}

#wl:hover {
    transform: scale(1.05);
}

#stats {
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 450px) {
    #secret {
        font-size: 20px;
    }

    #wl {
        font-size: 13px;
    }
}