body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'game_of_thrones';
}

header {
    background: black;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    line-height: 1.5em;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background: black;
    color: white;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
}

#game {
    width: 80%;
    height: 80%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}