body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'game_of_thrones';
}

header {
    background: #2C302F;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    line-height: 1.5em;
    box-shadow: 0px 0px 9px 0px #777;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background: #2C302F;
    color: white;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
    box-shadow: 0px 0px 9px 0px #777;
}

#game {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0px 0px 9px 0px #777;
    border-radius: 10px;
}

#secret-container {
    font-size: 30px;
    padding: 10px;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#stats-container {
    padding: 10px;
    height: 30%;
    display: flex;
    justify-content: flex-start;
}

#stats {
    color: red;
    font-size: 25px;
}